.cencen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 25px;
    padding: 25px;
    margin-top: 150px;
}
