.button-container {
    text-align: center;
}

.left-button{
    border:none;
    outline:none;
    width:30%;
    height:4vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top:2vh;
    display: inline-block;
    font-family: 'Pretendard-Regular';
}

.right-button{
    border:none;
    outline:none;
    width:30%;
    height:4vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: 'Pretendard-Regular';
}

.selected {
    background-color: #D9D9D9;
}