.input-group{
    position: relative;
    height: 60px;
}

.searchImg{
    position: absolute;
    width: 20px;
    top: 34px;
    left: 37px;
    z-index: 10;
}

.form-control.rounded{
    padding-left: 40px;
    margin: 25px;
}