/* The path depends on the current location of the scss file */
@import "../../../node_modules/@chatscope/chat-ui-kit-styles/themes/default/variables";

// Here you can override variables from the imported file above. Check its source for a list of available variables
$search-background: #e0e0e0;
$search-border-radius: 10px;
$search-input-color: #333;